<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Vezi produsele <a href="/produse">here</a></p>
    <p>Adauga produs <a href="/addProdus">here</a></p>
    
    <p>Vezi utilizatorii <a href="/utilizatori">here</a></p>
    <p>Adauga utilizator <a href="/addUtilizator">here</a></p>
    <p>Vezi comenzile <a href="/comenzi">here</a></p>
    <p>Adauga comanda <a href="/addComanda">here</a></p>
</body>
</html>